%h1 Bookmarks
- @tags.each do |tag|
  .media
    .media-body
      %h4.media-heading= link_to "##{tag.label}", tag
      %ul.list-unstyled
        - tag.bookmarks.each_with_index do |bookmark, index|
          - if index < 4
            %li= bookmark.url
            = render partial: 'likes/like', locals: {bookmark: bookmark}
      - if tag.bookmarks.length > 4
        = link_to "More &#10145;".html_safe, tag