%h1 My Bookmarks
- @tags.each do |tag|
  .media
    .media-body
      %h4.media-heading= link_to "##{tag.label}", tag
      %ul.list-unstyled
        - tag.bookmarks.each do |bookmark|
          - if current_user.id == bookmark.user_id
            %li= bookmark.url
            - if policy(bookmark).edit?
              = link_to "Edit", edit_bookmark_path(bookmark)
              = " | "
              = link_to "Delete", bookmark, method: :delete, data: {confirm: 'Are you sure you want to delete this bookmark?'}

- if current_user.likes.count > 0
  %h2 Liked Bookmarks
  - @likes.each do |i|
    .media
      .media-body
        %h4.media-heading= link_to "##{Tag.find_by(id: i).label}", Tag.find_by(id: i)
        %ul.list-unstyled
          - Tag.find_by(id: i).bookmarks.each do |bookmark|
            - if current_user.liked(bookmark)
              %li= bookmark.url
              = render partial: 'likes/like', locals: {bookmark: bookmark}